TOGETHER_API_KEY=""                 # Your Together API key
RETRIEVE_TOP_K=10                   # Number of documents to put in context
MAX_CHARS=2048                      # Max characters per conversation
LOG_FILE="dump/logs.txt"            # Log file path
TEXT_MODEL_PATH="openai/gpt-oss-20b"    # Model to generate answers
EMB_MODEL_PATH="BAAI/bge-large-en-v1.5"                     # Embedding model
CHAT_REQUESTS_PER_HOUR_LIMIT=10     # Rate limit for chat requests per hour
CHROMA_PERSIST_DIR="chroma_data"    # Directory for the persisted Chroma vector store
