TOGETHER_API_KEY="your_api_key"
RETRIEVE_TOP_K=10
MAX_CHARS=2048
LOG_FILE="dump/logs.txt"
TEXT_MODEL_PATH="openai/gpt-oss-20b"
EMB_MODEL_PATH="intfloat/multilingual-e5-large-instruct"
CHAT_REQUESTS_PER_HOUR_LIMIT=20